li.card__container
  div.card__items
    h2.card__title Kangaroo Valley Safari
    span.card__date Date
    p.card__text Located two hours south of Sydney in the Southern Highland of New South Wales...
    div.card__action-bar
      button.card__button Edit
      button.card__button Finished
  img(src="https://placeimg.com/640/480/nature", alt="", class="card__image")
