li.card__container
  div.card_box
    div.card__items
      h2.card__title #{title}
      span.card__date #{date}
      p.card__text #{description} 
      div.card__action-bar
        button.card__button Edit
        button.card__button Finished
    img(src="http://i.imgur.com/3UzuIsv.png", alt="", class="card__image")
