li.card
  h2.card__title Kangaroo Valley Safari
  span.card__date Date
  p.card__text Located two hours south of Sydney in the Southern Highland of New South Wales...
  img(src="https://placeimg.com/640/480/nature", alt="")
  div.card__action-bar
    button.card__button SHARE
    button.card__button LEARN MORE
