div.login__container
    div.login__form
        input(class="js-email",type="email", name="e-mail", placeholder="E-mail")
        input(class="js-pass",type="password", name="pass", placeholder="Password")
        button(class="js-login") Log In
