div.login__container
    div.login__form
        input(class="js-email",type="email", name="e-mail", placeholder="E-mail")
        input(class="js-pass",type="password", name="pass", placeholder="Password")
        button(class="js-login") Log In
    div.login__signup
        input(class="js-name js-signup",type="text", name="name", placeholder="name")
        input(class="js-email js-signup",type="email", name="e-mail", placeholder="E-mail")
        input(class="js-pass js-signup",type="password", name="pass", placeholder="Password")
        button(class="js-signup") Sign Up

